<%- include ('header') -%>
        <main class="container">
            <section class="info">
                <h2><%= address[1] %>. <%= address[2] %> <%= address[3] %></h2>
                <p>Mail : <a href="mailto:<%= address[5] %>"><%= address[5] %></a></p>
                <p>Téléphone: <a href="tel:<%= address[4] %>"><%= address[4] %></a></p>
                <p>Née le <%= 
                    new Date(address[6]).toLocaleDateString('fr-FR', { month: '2-digit', day: '2-digit', year : 'numeric' })
                    %></p>
            </section>
        </main>
    </body>
</html>