<%- include ('header') -%>
        <main class="container">
            <h2><%= address[1] %>. <%= address[2] %> <%= address[3] %></h2>
            <p>Mail : <a href="mailto:<%= address[5] %>"><%= address[5] %></a></p>
            <p>Téléphone: <a href="tel:<%= address[4] %>"><%= address[4] %></a></p>
            <p>Née le <%= address[6] %></p>
        </main>
    </body>
</html>